# Ignore everything
*

# Un-ignore these files and folders
!.gitignore
!README.md
!1_setup_dev_env.sh
!2_start_web_hub.sh
!3_stop_web_hub.sh
!CONTRIBUTING.md
!generate_all_flags.py
!Launch CCRI CTF Hub
!Launch CCRI CTF Hub (Mint).desktop
!LICENSE

# Un-ignore folders AND their contents
!flag_generators/
!flag_generators/**

!challenges/
!challenges/**

!web_version_admin/
!web_version_admin/**
